
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2rem;
    background-color:#f9f7f3 ;


}
main{
    width: 90%;
    min-height: 90vh;
    background-color: #b5e2fa;
    
    margin: 0 auto;
    margin-top: 2rem;
}