* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.twocolum{
background-color: #40ff69;
}

body {
    background-color: #3488DA;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    text-align: center;
    border: rgba(97, 165, 234, 0.737) solid 10px;
}

h1 {
    font-size: 80px;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    
}

.middle-section {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
   
}

.left-section {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
    
    
}

.right-section {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.whitebar {
    width: 70%;
    height: 10px;
    background-color: white;
    margin: 0 auto;
}

.container{
    width: 100%;
    background-color: white;
    height: 70vh;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    border-radius: 2rem;
   

}

.bubble{
    width: 50px;
    height: 50px;
    background-color: #E7F9EB;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 50%;
    
}
.bubble:hover{
    background-color: aquamarine;
}
.bubble:active{
    background-color: rgb(17, 191, 133);
}
img{
    width: 150px;
}
img:hover{
    opacity: 50%;
}