*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: .2rem;
   
    margin: 0 auto;
  }

section{
    background-color: rgba(8, 45, 92, 0.429);
    padding: 1rem;
    width: 100%;
    align-items: center;
   
}
section img{
    max-width: 325px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (max-width: 600px) {
  #cards{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  }