

@media only screen and (max-width: 769px){
  
    section{
        grid-template-columns: 1fr;
    }
    .maincardcontainer{
        grid-template-columns: 1fr;
    }
    nav{
       display: block;
    }
    a{
        display: none;
       
    }
    .current-page {
        border: 2px solid #ffffff; 
        background-color:  #c1bebef3;
        /* This creates a line above the link */
      }
    .hero{
        grid-template-columns: 1fr;

    }
    .calltoaction{
        grid-column: 1/2;
       
    }
    .calltoaction button{
        padding: 20px 35px;
    }
    .herocard{
        display: none;
    }

    #menu {
        display: block;
        width: 100%;
        height: 100%;
     
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #ffffff;
        
       grid-column: 2/3;
       grid-row: 1/2;
       
    }
    #switch{
        position: relative;
        justify-self: center;
        grid-column: 3/4;
        grid-row: 1/2;
        
    }
   
    

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

footer{
    font-size: small;
    align-items: center;
    align-content: center;
}
    
}
.open a{
    display: block;
  }
