

@media only screen and (max-width: 769px){
  
    section{
        grid-template-columns: 1fr;
    }
    .maincardcontainer{
        grid-template-columns: 1fr;
    }
    nav{
       display: block;
    }
    a{
        display: block;
       
    }
    .current-page {
        border: 2px solid #ffffff; 
        background-color:  #c1bebef3;
        /* This creates a line above the link */
      }
    .hero{
        grid-template-columns: 1fr;

    }
    .calltoaction{
        grid-column: 1/2;
       
    }
    .calltoaction button{
        padding: 20px 35px;
    }
    .herocard{
        display: none;
    }

    #menu {
        display: none;
        width: 100px;
     
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #ffffff;
         position: absolute;
        top:0;
        right:0;
    }
    

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

footer{
    font-size: small;
    align-items: center;
    align-content: center;
}
    
}